@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f6f8;
}

header {
  text-align: center;
  padding: 40px 0;
  background: #000;
  color: #fff;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}

header a svg {
  height: 35px;
  fill: #fff;
}

.container {
  padding: 0 10px;
  max-width: 800px;
  margin: 5px auto 20px;
}

.container .examples {
  font-size: 27px;
  margin: 25px 0;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.container h3 svg {
  margin-left: 10px;
}

.container .row {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container .row .item {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #00000023;
  transition: 400ms all;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.container .row .item:hover {
  transform: scale(0.97);
}

.container .row .item h4 {
  color: #000;
  font-size: 25px;
  font-weight: 500;
}

.container .row .item p {
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

.container .row .item a {
  background: #5e84ab;
  width: max-content;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .row .item a svg {
  fill: #fff;
  height: 15px;
}

.loading {
  text-align: center;
  padding: 20px 0;
}

.example {
  padding: 25px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  color: #000;
}

.item {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  padding: 20px;
  border-radius: 10px;
}

.example ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.example ul li h2 {
  margin-bottom: 10px;
}

.example ul li p {
  font-size: 16px;
}

.content {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.download {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
}

.card-container {
  background-color: #3370ac;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  transition: 300ms all;
}

.card-container.dark {
  background-color: #000;
}

.card-container.dark .card button {
  background: #fff;
  color: #000;
}

.card-container .card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
}

.card-container .card button {
  background: #320e054d;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

form {
  border: 1px solid #00000013;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
  max-width: 500px;
  margin: 30px auto 0;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

form div label {
  font-size: 20px;
  margin-bottom: 10px;
}

form div input {
  padding: 15px;
  border-radius: 10px;
  color: #000;
}

form div textarea {
  height: 100px;
  resize: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

form div textarea::placeholder {
  color: #000;
}

form div input::placeholder {
  color: #000;
}

form button {
  background: #3370ac;
  color: #fff;
  padding: 7px 0;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}

.cart ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.cart ul li {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #3370ac;
}

.posts {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #00000047;
  width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
}

@media only screen and (max-width:578px) {
  .container .examples {
    font-size: 23px;
    justify-content: center;
  }

  header {
    padding: 25px 0;
  }

  header a {
    font-size: 20px;
  }

  header a svg {
    height: 25px;
  }

  .example {
    padding: 10px;
    font-size: 12px;
  }

  .container .row .item {
    border-radius: 10px;
    gap: 13px;
  }

  .container .row .item h4 {
    font-size: 19px;
  }

  .container .row .item p {
    font-size: 15px;
  }

  .container .row .item a {
    font-size: 16px;
  }

  .example h2 {
    font-size: 14px;
  }

  .example ul li p {
    font-size: 13px;
  }

  .item {
    padding: 10px;
  }

  form h2 {
    font-size: 20px;
  }
}